/* Base Styles */

:root {
  --hypraw-bg-color: hsla(0, 0%, 96%, 1);
  --hypraw-border-radius: 0.5em;
  --hypraw-padding: 0.7em;
}

/* Base container */
.hypraw {
  position: relative;
}

.hypraw pre {
  margin: 0;
}

.hypraw pre > code {
  display: block;
  overflow: auto;
  padding: var(--hypraw-padding);
  border-radius: var(--hypraw-border-radius);
  color: var(--hypraw-fg-color);
  background: var(--hypraw-bg-color);
}

/* Inline code */
code.hypraw {
  padding: 0 0.3em;
  border-radius: 0.3em;
  color: var(--hypraw-fg-color);
  background: var(--hypraw-bg-color);
}
