name: Build Package
on:
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Nushell
        uses: hustcer/setup-nu@v3

      - name: Setup typst
        uses: typst-community/setup-typst@v3

      - name: Install tools
        uses: taiki-e/install-action@v2
        with:
          tool: just,typlite

      - name: Build package
        run: just package

      - name: Archive artifacts
        run: |
          mkdir artifacts
          cd out
          zip -r ../artifacts/hypraw.zip .

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: hypraw
          path: artifacts/
